## Data ne demekidir?

**Data (Veri)**, hər hansı bir hadisə, obyekt, anlayış və ya proses haqqında toplanan məlumatlar toplusudur. Bu məlumatlar sadəcə bir mənaya gəlməyən xam informasiyalar ola bilər, lakin işlənib təhlil edildikdən sonra müəyyən bir mənaya sahib olur və bilik kimi istifadə oluna bilər.

Veri müxtəlif formalarda mövcud ola bilər:
- **Sayısal (Numeric)**: Rəqəmlərdən ibarət məlumatlar (məsələn, yaş, gəlir, əhali sayı).
- **Mətn (Text)**: Simvollar və mətnlərdən ibarət məlumatlar (məsələn, adlar, ünvanlar, məqalələr).
- **Vizual (Visual)**: Şəkillər, videolar, qrafiklər.
- **Audio**: Səs yazıları, mahnılar.

### Məlumatın iki əsas növü var:
1. **Strukturlaşdırılmış Data**: Məlumatlar müəyyən bir qaydaya görə saxlanır və asanlıqla təhlil edilə bilər (məsələn, verilənlər bazalarında saxlanılan cədvəlli məlumatlar).
2. **Strukturlaşdırılmamış Data**: Məlumatların müəyyən qaydası yoxdur və təhlili daha mürəkkəbdir (məsələn, e-poçtlar, şəkillər, səs yazıları).

**Data** əsasən analiz, qərar vermə və elmi tədqiqatlar üçün istifadə edilir. Biliyin əsasını təşkil edən xammal kimi də təsvir edilə bilər.

## RDBMS

**RDBMS (Relational Database Management System)**, yəni **Əlaqəli Verilənlər Bazası İdarəetmə Sistemi**, verilənləri cədvəllər (tablolar) şəklində saxlayan və idarə edən bir verilənlər bazası idarəetmə sistemidir. Bu cədvəllər bir-biri ilə müəyyən əlaqələr quraraq işləyir və əlaqəli məlumatlar arasında bağlantılar yaratmağa imkan verir.

### Əsas xüsusiyyətləri:
1. **Cədvəllər (Tables)**: Məlumatlar satırlar və sütunlar şəklində saxlanılır. Hər bir cədvəl müəyyən bir varlığı və ya obyekti təmsil edir. Məsələn, bir cədvəl "Müştərilər" məlumatlarını, digəri isə "Sifarişlər" haqqında məlumatları saxlaya bilər.

2. **Əlaqələr (Relations)**: Cədvəllər arasında müəyyən əlaqələr qurmaq mümkündür. Bu əlaqələr **bir-birinə**, **bir-çox** və ya **çox-çox** ola bilər. Əsasən **primary key** və **foreign key** vasitəsilə cədvəllər bir-birinə bağlanır.
   
3. **SQL (Structured Query Language)**: RDBMS sistemlərində məlumatları idarə etmək, sorğulamaq və yeniləmək üçün SQL dili istifadə olunur.

4. **Dəqiqlik və bütövlük (Integrity)**: Verilənlərin doğruluğunu və bütövlüyünü qorumaq üçün müxtəlif qaydalar tətbiq edilir. Məsələn, bir cədvəldə **foreign key** ilə əlaqəli olan məlumatın digər cədvəldə mövcud olması tələb olunur.

5. **Tranzaksiya dəstəyi (Transaction support)**: Bir neçə əməliyyatın eyni zamanda və düzgün ardıcıllıqla icra edilməsi üçün tranzaksiyalar dəstəklənir. Bu xüsusiyyət **ACID** prinsiplərinə uyğun olaraq işləyir:
   - **Atomicity**: Tranzaksiya ya tamamilə icra olunur, ya da heç icra olunmur.
   - **Consistency**: Tranzaksiya tamamlandıqdan sonra verilənlər bazası düzgün vəziyyətdə qalır.
   - **Isolation**: Bir tranzaksiya digərləri ilə paralel şəkildə icra edilə bilər, amma bir-birinə təsir etməz.
   - **Durability**: Tranzaksiya tamamlandıqdan sonra dəyişikliklər qalıcı olur, hətta sistem xətası olsa belə.

### Populyar RDBMS-lər:
- **MySQL**
- **PostgreSQL**
- **Oracle Database**
- **Microsoft SQL Server**
- **SQLite**

RDBMS sistemləri strukturlaşdırılmış məlumatlarla işləmək, böyük miqyaslı verilənlər bazalarını idarə etmək və məlumatların idarə olunmasını asanlaşdırmaq üçün geniş istifadə olunur.

## SQL*Plus

**SQL\*Plus**, **Oracle Database**-də SQL və PL/SQL əmrlərinin icra edilməsi üçün istifadə olunan bir komanda interfeysidir. O, Oracle Database ilə qarşılıqlı əlaqədə olmaq üçün sadə və çevik bir vasitə təmin edir. SQL\*Plus Oracle verilənlər bazası ilə işləmək üçün geniş imkanlar verir və həm administrativ, həm də proqramçılar tərəfindən istifadə olunur.

### SQL*Plus nə edir?
SQL\*Plus vasitəsilə verilənlər bazasında aşağıdakı əməliyyatları həyata keçirmək mümkündür:
1. **SQL əmrlərinin icrası**: SQL sorğuları yazmaq və işlətmək mümkündür. Məsələn, `SELECT`, `INSERT`, `UPDATE`, `DELETE` əmrlərini yaza və verilənlər üzərində əməliyyatlar apara bilərsiniz.
   
2. **PL/SQL əmrlərinin icrası**: PL/SQL blokları və prosedurlarını işlətmək üçün istifadə olunur.

3. **Verilənlərin sorğulanması və nəticələrin göstərilməsi**: Verilənlər bazasından sorğulanan məlumatları terminalda göstərir.

4. **Daxili SQL\*Plus əmrləri**: Verilənlər bazası ilə qarşılıqlı əlaqə üçün bir çox daxili əmrlər təklif edir. Məsələn, **SHOW**, **DESCRIBE**, **EXIT**, **START** və s.

5. **Script icrası**: SQL və PL/SQL skriptləri yazaraq bu skriptləri SQL\*Plus vasitəsilə icra etmək mümkündür. `.sql` uzantılı fayllar işlədilərək əməliyyatlar avtomatlaşdırıla bilər.

### Əsas xüsusiyyətlər:
- **Komanda xətti interfeysi**: SQL\*Plus terminal (komanda xətti) üzərindən işləyir və Oracle verilənlər bazasına birbaşa bağlanmaq imkanı verir.
  
- **SQL skriptlərinin dəstəklənməsi**: SQL\*Plus skript fayllarını icra edərək verilənlər bazası əmrlərini toplu şəkildə yerinə yetirir.
  
- **Formatlama alətləri**: Sorğu nəticələrini formatlamaq üçün **COLUMN**, **SET**, **SPOOL** kimi əmrlərdən istifadə edilir.

- **Verilənlər bazasına bağlantı**: SQL\*Plus vasitəsilə istifadəçi adı və şifrə ilə Oracle verilənlər bazasına birbaşa bağlantı qurmaq mümkündür.

### SQL*Plus ilə işləmə nümunəsi:
Oracle verilənlər bazasına bağlanmaq üçün aşağıdakı komanda istifadə olunur:

```sql
SQL> CONNECT username/password@hostname;
```

Verilənlər bazasında sadə bir SQL sorğusunu icra etmək:

```sql
SQL> SELECT * FROM employees;
```

Bir PL/SQL blokunun icrası:

```sql
SQL> BEGIN
  2    DBMS_OUTPUT.PUT_LINE('Hello, World!');
  3  END;
  4  /
```

**SQL\*Plus** Oracle Database ilə qarşılıqlı əlaqəni asanlaşdıran və administrasiya əmrlərini icra etməyə imkan verən vacib bir vasitədir.

## Data Types SQL de esaslar haqqinda melumat yaz

SQL-də **Data Types (Məlumat Tipləri)** verilənlər bazasında saxlanılan məlumatların formatını müəyyən edir. Hər sütunun bir məlumat tipi olmalıdır ki, bu da o sütunda hansı tipdə məlumatların saxlanacağını göstərir. SQL-də məlumat tipləri ümumilikdə üç əsas kateqoriyaya bölünür:

### 1. **String (Simvol Məlumat Tipləri)**:
Bu tiplər mətn məlumatlarını saxlamaq üçün istifadə olunur. Simvol tiplərinin maksimum uzunluğunu təyin etmək mümkündür.

- **CHAR(n)**: Sabit uzunluqlu mətn saxlamaq üçün istifadə olunur. Məsələn, `CHAR(10)` sütununda hər zaman 10 simvoldan ibarət məlumat saxlanacaq. Əgər məlumat 10 simvoldan azdırsa, o zaman boşluq ilə doldurulur.
  
- **VARCHAR(n)**: Dəyişkən uzunluqlu mətn saxlamaq üçün istifadə olunur. Məsələn, `VARCHAR(50)` sütunu maksimum 50 simvol uzunluğunda mətn saxlayır, amma yalnız verilən qədər yaddaş istifadə olunur.

- **TEXT**: Çox böyük mətn məlumatlarını saxlamaq üçün istifadə olunur. Bu tipdəki sütunların uzunluğu məhdudiyyətsizdir.

### 2. **Numeric (Riyazi Məlumat Tipləri)**:
Bu tiplər sayısal məlumatları saxlamaq üçün istifadə olunur. Bura tam ədədlər, onluq ədədlər və s. daxildir.

- **INT**: Tam ədədləri saxlamaq üçün istifadə olunur. Bu tip 4 bayt yer tutur və -2,147,483,648-dən 2,147,483,647-ə qədər tam ədədləri saxlaya bilər.

- **SMALLINT**: Daha kiçik tam ədədləri saxlamaq üçün istifadə olunur. 2 baytlıq yaddaş istifadə edir və -32,768-dən 32,767-ə qədər tam ədədləri saxlaya bilər.

- **BIGINT**: Daha böyük tam ədədləri saxlamaq üçün istifadə olunur. 8 baytlıq yaddaş istifadə edir və çox böyük ədədləri saxlamaq imkanı verir.

- **DECIMAL(p, s)**: Onluq rəqəmləri saxlamaq üçün istifadə olunur. Burada `p` ümumi rəqəm sayını, `s` isə onluq nöqtədən sonrakı rəqəmlərin sayını göstərir. Məsələn, `DECIMAL(10, 2)` 10 rəqəmli bir ədəd saxlayır, bunun 2-si onluq nöqtədən sonrakı rəqəmlərdir.

- **FLOAT**: Üzən nöqtəli ədədləri saxlamaq üçün istifadə olunur. Həm kiçik, həm də çox böyük ədədləri saxlamaq üçün əlverişlidir, amma dəqiqliyində azalma ola bilər.

### 3. **Date/Time (Tarix/Zaman Məlumat Tipləri)**:
Tarix və zaman məlumatlarını saxlamaq üçün istifadə olunan məlumat tipləridir.

- **DATE**: Yalnız tarixi saxlamaq üçün istifadə olunur. Formatı `YYYY-MM-DD` şəklindədir. Məsələn, `2024-09-17`.

- **TIME**: Yalnız zamanı saxlamaq üçün istifadə olunur. Formatı `HH:MM:SS` şəklindədir. Məsələn, `13:45:30`.

- **DATETIME**: Tarix və zamanın birlikdə saxlanması üçün istifadə olunur. Formatı `YYYY-MM-DD HH:MM:SS` şəklindədir.

- **TIMESTAMP**: UNIX zaman formatında, yəni 1970-ci il yanvarın 1-dən keçən saniyələrin sayını göstərən şəkildə zaman saxlamaq üçün istifadə olunur.

### 4. **Other (Digər Məlumat Tipləri)**:
SQL verilənlər bazasında müxtəlif xüsusi məlumat tipləri də mövcuddur.

- **BOOLEAN**: Doğru və ya yanlış (TRUE/FALSE) dəyərlərini saxlamaq üçün istifadə olunur.

- **BLOB**: Binary Large Object (BLOB) — şəkil, video və ya digər böyük binar məlumatları saxlamaq üçün istifadə olunur.

- **ENUM**: Əvvəlcədən təyin olunmuş dəyərlərdən birini seçmək üçün istifadə olunur. Məsələn, cinsiyyət seçimi üçün `ENUM('Male', 'Female')`.

- **ARRAY**: Bir sıra məlumatları bir sütunda saxlamaq üçün istifadə edilir.

SQL-də məlumat tiplərini düzgün seçmək verilənlərin saxlanması və işlənməsi üçün çox vacibdir. Bu, həm yaddaşa qənaət edir, həm də verilənlərin təhlükəsizliyini və dəqiqliyini təmin edir.

Aşağıda **VARCHAR2**, **NVARCHAR2**, **CHAR** və **NCHAR** məlumat tipləri arasındakı əsas fərqlər verilmişdir:

| **Məlumat Tipi** | **Xüsusiyyətlər**                                                                                      | **Fərqlər**                                                                                                                                           |
|------------------|-------------------------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------|
| **VARCHAR2**     | Dəyişən uzunluqda simvol məlumatlarını saxlayır.                                                      | - **Dəyişən uzunluq**: Verilənlərin ölçüsü verilənlərin real ölçüsünə uyğun olaraq saxlanır.                                                        |
|                  |                                                                                                       | - Maksimum ölçü 4000 bayt və ya simvoldur.                                                                                                           |
|                  |                                                                                                       | - Yalnız standart simvol dəstlərini dəstəkləyir (Unicode deyil).                                                                                     |
| **NVARCHAR2**    | Unicode dəstəyi olan dəyişən uzunluqda simvol məlumatlarını saxlayır.                                 | - Unicode dəstəyi ilə simvol məlumatları saxlayır (milli dillər üçün istifadə edilir).                                                              |
|                  |                                                                                                       | - Maksimum ölçü Unicode xarakter dəstinə əsaslanaraq 4000 simvoldur.                                                                                |
|                  |                                                                                                       | - Daxil edilən məlumatlar UTF-8 və ya digər Unicode kodlaşdırmaları ilə saxlanılır.                                                                 |
| **CHAR**         | Sabit uzunluqlu simvol məlumatlarını saxlayır.                                                        | - **Sabit uzunluq**: Məlumat dəyərinin uzunluğu təyin olunmuş ölçüyə çatdırılır (boşluqlarla doldurulur).                                            |
|                  |                                                                                                       | - Maksimum ölçü 2000 simvoldur.                                                                                                                     |
|                  |                                                                                                       | - Standart simvol dəstlərini dəstəkləyir (Unicode deyil).                                                                                           |
| **NCHAR**        | Unicode dəstəyi olan sabit uzunluqlu simvol məlumatlarını saxlayır.                                   | - Unicode dəstəyi ilə sabit uzunluqlu simvol məlumatları saxlayır.                                                                                   |
|                  |                                                                                                       | - Təyin edilmiş uzunluqdan qısa verilənlər boşluqlarla doldurulur.                                                                                   |
|                  |                                                                                                       | - Maksimum ölçü Unicode xarakter dəstinə əsaslanaraq 2000 simvoldur.                                                                                 |

### **Əsas fərqlər:**

1. **Dəyişən uzunluq vs sabit uzunluq:**
   - **VARCHAR2** və **NVARCHAR2** dəyişən uzunluq tipləridir. Məlumatların saxlanması üçün yalnız real ölçüsü qədər yer tuturlar.
   - **CHAR** və **NCHAR** sabit uzunluq tipləridir. Dəyərlər təyin olunmuş ölçüdən qısa olduqda, qalan boşluqlar boşluq simvolları ilə doldurulur.

2. **Unicode dəstəyi:**
   - **NVARCHAR2** və **NCHAR** Unicode dəstəkləyir, bu da onları çoxdilli məlumatlar üçün daha uyğun edir.
   - **VARCHAR2** və **CHAR** Unicode dəstəkləmir, yalnız standart simvol dəstləri ilə işləyir.

3. **İstifadə məqsədi:**
   - **VARCHAR2** və **NVARCHAR2** dəyişən uzunluqda olan məlumatlar üçün daha uyğundur.
   - **CHAR** və **NCHAR** sabit uzunluqlu və standart formatlı məlumatlar üçün daha uyğundur.

4. **Məkan istifadəsi:**
   - **VARCHAR2** və **NVARCHAR2** yalnız faktiki verilənlər üçün yer istifadə edir.
   - **CHAR** və **NCHAR** təyin edilmiş maksimum uzunluq üçün tam ölçüdə yer tutur (hətta verilənlər daha qısa olsa belə).

**Nəticə:**
Unicode tələbi varsa, **NVARCHAR2** və ya **NCHAR** seçilməlidir. Dəyişən uzunluqda verilənlər üçün **VARCHAR2** daha məqbuldur. Sabit uzunluq tələb edilirsə, **CHAR** və ya **NCHAR** uyğun ola bilər.

## DDL , DML , DCL, TCL

**Data Definition Language (DDL)**, **Data Manipulation Language (DML)**, **Data Control Language (DCL)** və **Transaction Control Language (TCL)** SQL dilində fərqli məqsədlər üçün istifadə olunan əmrlər toplusudur:

### 1. **Data Definition Language (DDL)**:
DDL verilənlər bazasının strukturunu müəyyən edən və idarə edən əmrlərdir. Onlar cədvəllər, indekslər, baxışlar və sxemlər yaratmaq, dəyişdirmək və silmək üçün istifadə olunur. DDL əmrləri avtomatik olaraq `COMMIT` edir, yəni dəyişikliklər dərhal tətbiq olunur və geri qaytarılmır.
- Əsas əmrlər:
  - `CREATE`: Yeni bir cədvəl, indeks və ya baza strukturu yaratmaq.
  - `ALTER`: Mövcud cədvəli və ya strukturu dəyişdirmək.
  - `DROP`: Cədvəli və ya digər obyektləri silmək.
  - `TRUNCATE`: Cədvəldəki bütün qeydləri silmək, amma struktur qalır.

### 2. **Data Manipulation Language (DML)**:
DML verilənlər bazasında mövcud olan məlumatlar üzərində əməliyyatlar aparmağa imkan verir. Bu əmrlər verilənlərə sorğu göndərmək, əlavə etmək, dəyişdirmək və silmək üçün istifadə olunur. DML əmrləri tranzaksiya içərisində icra olunur, yəni `COMMIT` və ya `ROLLBACK` əmri ilə dəyişikliklər təsdiqlənə və ya ləğv edilə bilər.
- Əsas əmrlər:
  - `SELECT`: Məlumatları seçmək və sorğulamaq.
  - `INSERT`: Cədvələ yeni məlumatlar əlavə etmək.
  - `UPDATE`: Mövcud məlumatları yeniləmək.
  - `DELETE`: Məlumatları silmək.

### 3. **Data Control Language (DCL)**:
DCL verilənlər bazasındakı istifadəçi hüquqlarını və girişi idarə etmək üçün istifadə olunur. O, verilənlər bazasına kimlərin daxil ola biləcəyini və hansı əməliyyatları yerinə yetirə biləcəyini müəyyən edir.
- Əsas əmrlər:
  - `GRANT`: İstifadəçiyə müəyyən hüquqlar və icazələr vermək.
  - `REVOKE`: İstifadəçidən verilən hüquqları geri almaq.

### 4. **Transaction Control Language (TCL)**:
TCL verilənlər bazasındakı tranzaksiyaların idarə edilməsi üçün istifadə olunur. Tranzaksiyalar verilənlər üzərində edilən bir sıra əməliyyatlardır və bu əməliyyatların tam və ya heç birinin təsdiqlənməsi təmin edilir.
- Əsas əmrlər:
  - `COMMIT`: Tranzaksiyanı təsdiqləyir və dəyişiklikləri qalıcı edir.
  - `ROLLBACK`: Tranzaksiyanı geri qaytarır, edilən dəyişiklikləri ləğv edir.
  - `SAVEPOINT`: Tranzaksiya daxilində bir nöqtə yaradaraq, tranzaksiyanın müəyyən bir yerə qədər geri qaytarılmasına imkan verir.
  - `SET TRANSACTION`: Tranzaksiyaların xüsusiyyətlərini təyin edir (məsələn, izolasiya səviyyəsini).

Bu kateqoriyalar SQL-in müxtəlif funksiyalarını təmsil edir və verilənlər bazası ilə işləmək üçün vacibdir.

## NUll  sql-de ne demekdir?  onun    ""    ile ferqi

SQL-də **NULL**, bir dəyərin mövcud olmadığını, yəni həmin hüceyrənin heç bir dəyər saxlamadığını göstərir. **NULL** "boş", "yox" və ya "məlumat yoxdur" mənasını verir. Bu, SQL-də digər dəyərlərdən fərqli bir məna daşıyır və xüsusi davranışlara malikdir.

### NULL nədir?
- **NULL** SQL-də məlumatın olmamasını göstərir.
- NULL **heç bir dəyər** deyil, sadəcə olaraq dəyərin olmadığı vəziyyəti təsvir edir.
- NULL riyazi və məntiqi əməliyyatlarda bir az fərqli davranır. Məsələn, **NULL** ilə hər hansı bir riyazi əməliyyat aparmaq mümkün deyil və **NULL** məntiqi əməliyyatlarda qeyri-müəyyənlik yaradır.

### `""` (Boş Sətir) nədir?
- `""` (boş sətir) **string** (mətn) məlumat tipindədir və simvol zənciridir. Sadəcə, içində heç bir simvol yoxdur.
- Boş sətir NULL deyil. `""` daxilində heç bir simvol olmasa da, bu, məlumatın var olduğunu göstərir, sadəcə dəyəri boşdur.
- Boş sətir mətndə boş bir dəyər təyin etmək deməkdir, amma **NULL** dəyəri yox sayır, yəni həmin hüceyrədə məlumat yoxdur.

### NULL ilə "" arasındakı fərqlər:
1. **Məlumatın mövcudluğu**:
   - **NULL**: Məlumat yoxdur və müəyyən edilməyib.
   - **""**: Məlumat var, amma o sadəcə boş mətn zənciridir.

2. **Sırala və axtarış**:
   - **NULL**: NULL dəyərlər sıralamada ya nəzərə alınmır, ya da xüsusi qaydalarla işarələnir. Məsələn, `SELECT * FROM table WHERE column IS NULL;` sorğusu yalnız NULL olan dəyərləri gətirəcək.
   - **""**: Boş sətir isə normal sətir kimi qəbul olunur. `SELECT * FROM table WHERE column = '';` sorğusu isə boş sətir olan dəyərləri gətirəcək.

3. **Riyazi əməliyyatlar və müqayisə**:
   - **NULL**: NULL ilə hər hansı müqayisə və ya riyazi əməliyyat qeyri-müəyyən (UNKNOWN) nəticə verəcək. Məsələn, `NULL = NULL` və ya `5 + NULL` qeyri-müəyyən nəticə verəcək.
   - **""**: Boş sətirlə müqayisə aparmaq mümkündür. Məsələn, `"" = ""` doğrudur və ya `LENGTH("") = 0`.

4. **Əməliyyatlar**:
   - **NULL**: NULL ilə hər hansı məntiqi və ya riyazi əməliyyat qeyri-müəyyən nəticə verər (məsələn, `NULL + 1` NULL olaraq qalacaq).
   - **""**: Boş mətn zənciri üzərində əməliyyatlar aparmaq mümkündür. Məsələn, `"" || "text"` nəticə olaraq `"text"` verəcək.

### Nümunələr:

1. **NULL istifadəsi**:
   ```sql
   SELECT * FROM employees WHERE phone_number IS NULL;
   ```

   Bu sorğu **phone_number** sütununda dəyəri olmayan (yəni NULL olan) işçiləri seçir.

2. **"" istifadəsi**:
   ```sql
   SELECT * FROM employees WHERE phone_number = '';
   ```

   Bu sorğu **phone_number** sütununda boş mətn saxlanılan işçiləri seçir.

### Nəticə:
- **NULL**: Heç bir dəyərin olmadığı, naməlum məlumatı təmsil edir.
- **""**: Məlumat var, amma bu dəyər sadəcə boş mətn zənciridir.

## Null nece bayt  "" nece bayt yer tutur

SQL-də **NULL** və `""` (boş sətir) yaddaş baxımından fərqli davranışlara malikdir.

### 1. **NULL** neçə bayt yer tutur?
- **NULL** dəyəri özü yaddaşda heç bir yer tutmur, çünki bu, bir dəyərin olmaması mənasını verir. Ancaq NULL məlumatını izləmək üçün verilənlər bazası müəyyən metadata saxlayır. Bu metadata NULL dəyərinin olub-olmamasını izah edən bayt ola bilər.
- **NULL** dəyəri üçün ayrılan yaddaş miqdarı verilənlər bazası idarəetmə sisteminə (RDBMS) və həmin sistemin daxili işləmə qaydalarına görə dəyişir.
  - Məsələn, bəzi RDBMS-lərdə hər sətir üçün NULL göstəricisi (indicator) 1 baytlıq əlavə metadata kimi saxlanır, bu da həmin sahənin NULL olub-olmamasını qeyd edir.

### 2. `""` (boş sətir) neçə bayt yer tutur?
- **""** (boş sətir) real bir mətn dəyəridir, sadəcə içində heç bir simvol yoxdur. Buna baxmayaraq, məlumat bazasında boş sətir də saxlamağa davam edir.
- Boş sətir üçün ayrılan yer mətn məlumatının növündən asılıdır. Çox vaxt mətn tipində olan sütunlar üçün minimum müəyyən bir miqdarda yaddaş ayrılır:
  - Məsələn, `VARCHAR(255)` tipində bir sütun üçün **""** (boş sətir) yalnızca 1 və ya 2 bayt (metadata üçün, məsələn, uzunluğu izləmək üçün) yer tuta bilər. Bu, mətnin uzunluğundan asılıdır.

### Yekun:
- **NULL** özü yaddaşda dəyər tutmur, sadəcə olaraq NULL məlumatını qeyd edən əlavə metadata (1 bayt və ya daha çox) saxlana bilər.
- **""** (boş sətir) üçün yaddaşda minimum dəyər metadatası (adətən 1-2 bayt) tutulur. 

Nəticədə **NULL** və **boş sətir** yaddaş baxımından çox az yer tutsalar da, hər biri fərqli şəkildə qeyd edilir.

## Like commad

Oracle SQL-də **`LIKE`** əmri, müəyyən bir şablona uyğun olan verilənləri süzgəcdən keçirmək üçün istifadə edilir. **`LIKE`** əmri ilə birlikdə istifadə edilən xüsusi simvollar şablon yaratmaqda kömək edir. Aşağıda həmin xüsusi simvolların mənaları verilmişdir:

### **LIKE üçün xüsusi işarələr**

| İşarə   | Mənası                                                                                                   | Nümunə                                      | Açıqlama                                                                                 |
|---------|----------------------------------------------------------------------------------------------------------|---------------------------------------------|-----------------------------------------------------------------------------------------|
| **`%`** | İstənilən uzunluqda və istənilən simvolları əvəz edir.                                                   | `'A%'`                                      | **"A" ilə başlayan bütün sətirlər**: `Apple`, `Amazon`, `A123` və s.                     |
|         |                                                                                                          | `'%e'`                                      | **"e" ilə bitən bütün sətirlər**: `Apple`, `Google`, `Orange` və s.                     |
| **`_`** | Tək bir simvolu əvəz edir.                                                                               | `'A_'`                                      | **"A" ilə başlayan və 2 simvoldan ibarət olan sətirlər**: `AB`, `A1` və s.              |
|         |                                                                                                          | `'A__'`                                     | **"A" ilə başlayan və 3 simvoldan ibarət olan sətirlər**: `ABC`, `A12` və s.            |
| **`[]`**| Verilən aralıqda və ya siyahıda olan hər hansı bir simvolu əvəz edir (Oracle-da birbaşa yoxdur, MySQL-dədir). | -                                           | -                                                                                       |
| **`[^]`**| Verilən aralıq və ya siyahıdan olmayan simvolu əvəz edir (Oracle-da birbaşa yoxdur, MySQL-dədir).        | -                                           | -                                                                                       |

---

### **LIKE istifadə nümunələri**

1. **`%` istifadə edərək:**
   ```sql
   SELECT * FROM employees WHERE name LIKE 'A%';
   ```
   - **Açıqlama:** **`A%`** ifadəsi **"A" hərfi ilə başlayan və istənilən uzunluqda olan sətirləri** süzəcək. Məsələn: `Alex`, `Amanda`.

2. **`_` istifadə edərək:**
   ```sql
   SELECT * FROM employees WHERE name LIKE 'J_n_';
   ```
   - **Açıqlama:** **`J_n_`** ifadəsi **"J" ilə başlayan, 4 simvoldan ibarət və ortasında "n" olan sətirləri** süzəcək. Məsələn: `John`, `Jane`.

3. **`%` və `LIKE` birgə istifadə:**
   ```sql
   SELECT * FROM employees WHERE email LIKE '%@gmail.com';
   ```
   - **Açıqlama:** Bu, **`@gmail.com`** ilə bitən bütün e-poçt ünvanlarını süzəcək. Məsələn: `example@gmail.com`.

4. **Tərkibində bir simvolu yoxlamaq:**
   ```sql
   SELECT * FROM products WHERE product_code LIKE '_X%';
   ```
   - **Açıqlama:** **`_X%`** ifadəsi **ikinci simvolu "X" olan və istənilən uzunluqda olan sətirləri** süzəcək. Məsələn: `AX123`, `BX456`.

---

### **LIKE ilə böyük-kiçik hərf həssaslığı**

- Oracle SQL-də **`LIKE`** əmri standart olaraq **böyük-kiçik hərfə həssasdır**.
  - Məsələn:
    ```sql
    SELECT * FROM employees WHERE name LIKE 'john';
    ```
    Bu, yalnız **kiçik hərf "john"** ilə tam uyğun olan sətirləri süzəcək.

- Böyük-kiçik hərf həssaslığını aradan qaldırmaq üçün **`LOWER`** və ya **`UPPER`** funksiyalarından istifadə edə bilərsiniz:
  ```sql
  SELECT * FROM employees WHERE LOWER(name) LIKE 'john';
  ```

---

### **LIKE istifadə edərkən diqqət ediləcək məsələlər**

1. **Escape xarakterlər:**
   - Əgər **`%`** və ya **`_`** kimi xüsusi simvolları adi simvol kimi yoxlamaq istəyirsinizsə, **ESCAPE** istifadə edilməlidir.
     ```sql
     SELECT * FROM products WHERE name LIKE '90\%' ESCAPE '\';
     ```
     - Bu, **"90%"** simvolunu əhatə edən sətirləri süzəcək.

2. **Performans:**
   - **`%`** ilə başlayan şablonlar performansa təsir edə bilər, çünki indekslər istifadə edilə bilmir:
     ```sql
     SELECT * FROM employees WHERE name LIKE '%Smith';
     ```
   - Bunun yerinə mümkün olduğu halda tam axtarışlar və ya xüsusi indekslərdən istifadə etmək tövsiyə olunur.

Bu xüsusiyyətlər Oracle SQL-də şablon əsaslı süzgəcləmənin güclü bir vasitə olmasını təmin edir.

## Coalelse, Decode, NVL, NVL2, NULLIF, CASE

SQL-də məntiqi ifadələr və NULL dəyərləri idarə etmək üçün istifadə olunan bəzi funksiyalar var. Bu funksiyaların hər biri fərqli məqsədlər üçün istifadə edilir və müxtəlif vəziyyətlərdə tətbiq olunur. Gəlin hər birini izah edək:

### 1. **COALESCE**
**COALESCE** bir neçə ifadə arasında ilk **NULL olmayan** dəyəri qaytarır. Bu, bir neçə sütun və ya dəyər arasında ilk boş olmayan dəyəri tapmaq üçün istifadə edilir.

**Sintaksis**:
```sql
COALESCE(expr1, expr2, ..., exprn)
```

**Nümunə**:
```sql
SELECT COALESCE(address, city, 'No data available') AS result
FROM employees;
```
Burada, **address** sütunu NULL olarsa, **city** yoxlanılır. Hər ikisi də NULL olarsa, `'No data available'` qaytarılır.

### 2. **DECODE**
**DECODE** funksiyası Oracle SQL-də şərti məntiqi həyata keçirmək üçün istifadə olunur. Bu, `CASE` funksiyasına bənzəyir, amma yalnız Oracle SQL-ə məxsusdur.

**Sintaksis**:
```sql
DECODE(expr, search1, result1, search2, result2, ..., default_result)
```

**Nümunə**:
```sql
SELECT DECODE(department_id, 
              10, 'Accounting', 
              20, 'Marketing', 
              'Other') AS department_name
FROM employees;
```
Burada, `department_id` 10-a bərabər olarsa, "Accounting", 20-ə bərabər olarsa, "Marketing" qaytarılır. Əks halda "Other" qaytarılır.

### 3. **NVL**
**NVL** funksiyası NULL dəyərini başqa bir dəyər ilə əvəz etmək üçün istifadə edilir. Əgər bir dəyər NULL-dursa, onu müəyyən etdiyin dəyər ilə əvəz edəcək.

**Sintaksis**:
```sql
NVL(expr1, expr2)
```

**Nümunə**:
```sql
SELECT NVL(commission_pct, 0) AS commission
FROM employees;
```
Əgər **commission_pct** NULL-dursa, bu halda 0 qaytarılacaq.

### 4. **NVL2**
**NVL2** funksiyası üç mümkün nəticə qaytarır: Əgər birinci arqument NULL deyilirsə, bir nəticə, NULL-dursa başqa bir nəticə qaytarır.

**Sintaksis**:
```sql
NVL2(expr1, expr2, expr3)
```

- **expr1**: NULL olub-olmaması yoxlanılacaq ifadə.
- **expr2**: Əgər **expr1** NULL deyilirsə, qaytarılacaq dəyər.
- **expr3**: Əgər **expr1** NULL-dursa, qaytarılacaq dəyər.

**Nümunə**:
```sql
SELECT NVL2(commission_pct, 'Has commission', 'No commission') AS result
FROM employees;
```
Əgər **commission_pct** NULL deyilirsə, "Has commission", NULL-dursa "No commission" qaytarılır.

### 5. **NULLIF**
**NULLIF** iki ifadəni müqayisə edir və əgər bu ifadələr bərabərdirsə, **NULL** qaytarır. Əgər bərabər deyilsə, birinci ifadə qaytarılır.

**Sintaksis**:
```sql
NULLIF(expr1, expr2)
```

**Nümunə**:
```sql
SELECT NULLIF(salary, 1000) AS result
FROM employees;
```
Əgər **salary** 1000-dirsə, NULL qaytarılacaq. Əks halda **salary** özü qaytarılacaq.

### 6. **CASE**
**CASE** funksiyası SQL-də şərti məntiqi həyata keçirmək üçün istifadə edilir. Bu, çoxlu şərtləri yoxlamağa və onların nəticələrini qaytarmağa imkan verir.

**Sintaksis**:
```sql
CASE 
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    ...
    ELSE result_default
END
```

**Nümunə**:
```sql
SELECT employee_id,
       CASE 
           WHEN salary > 5000 THEN 'High salary'
           WHEN salary BETWEEN 3000 AND 5000 THEN 'Average salary'
           ELSE 'Low salary'
       END AS salary_category
FROM employees;
```
Burada maaşı 5000-dən yüksək olan işçilərə "High salary", 3000 ilə 5000 arasında olanlara "Average salary", digər işçilərə isə "Low salary" verilir.

---

### Xülasə:
- **COALESCE**: NULL olmayan ilk dəyəri qaytarır.
- **DECODE**: Oracle SQL-də şərti məntiqi yerinə yetirir.
- **NVL**: NULL dəyərini müəyyən edilmiş dəyərlə əvəz edir.
- **NVL2**: Əgər birinci dəyər NULL-dursa və ya deyilirsə, fərqli nəticələr qaytarır.
- **NULLIF**: İki dəyəri müqayisə edir, bərabərdirsə NULL qaytarır.
- **CASE**: Müxtəlif şərtlərə görə fərqli nəticələr qaytarır.

## Oracl SQL de Join butun novlerini genis izah ele

Oracle SQL-də JOIN əməliyyatları cədvəlləri əlaqələndirmək və məlumatları birləşdirmək üçün istifadə olunur. JOIN növləri və onların fərqli istifadələri belədir:

### 1. **INNER JOIN**
INNER JOIN iki və ya daha çox cədvəldə bir-biri ilə uyğunlaşan sətirləri birləşdirir. Yalnız uyğun gələn məlumatlar çıxarılır.

**Sintaksis:**
```sql
SELECT columns
FROM table1
INNER JOIN table2
ON table1.column = table2.column;
```

**Məqsəd:** Yalnız hər iki cədvəldə uyğun gələn dəyərləri görmək istədikdə istifadə olunur.

### 2. **LEFT JOIN (LEFT OUTER JOIN)**
LEFT JOIN, sol tərəfdəki cədvəldəki bütün məlumatları qaytarır və sağ tərəfdəki cədvəldə uyğun gəlməyənlər üçün NULL dəyərləri verir.

**Sintaksis:**
```sql
SELECT columns
FROM table1
LEFT JOIN table2
ON table1.column = table2.column;
```

**Məqsəd:** Sol cədvəldəki bütün məlumatları göstərmək və sağ cədvəldən yalnız uyğun olanları çıxarmaq üçün istifadə olunur.

### 3. **RIGHT JOIN (RIGHT OUTER JOIN)**
RIGHT JOIN, sağ tərəfdəki cədvəldə olan bütün məlumatları qaytarır, sol tərəfdə uyğun gəlməyənlər üçün NULL verir.

**Sintaksis:**
```sql
SELECT columns
FROM table1
RIGHT JOIN table2
ON table1.column = table2.column;
```

**Məqsəd:** Sağ cədvəldəki bütün məlumatları saxlamaq və solda uyğun olanları birləşdirmək üçün istifadə olunur.

### 4. **FULL JOIN (FULL OUTER JOIN)**
FULL JOIN hər iki cədvəldə olan bütün məlumatları qaytarır. Əgər uyğun gəlməyən dəyərlər varsa, NULL dəyərləri çıxarılır.

**Sintaksis:**
```sql
SELECT columns
FROM table1
FULL OUTER JOIN table2
ON table1.column = table2.column;
```

**Məqsəd:** Hər iki cədvəldən olan bütün məlumatları görmək üçün istifadə olunur, uyğun olmayan yerlərdə isə NULL qaytarılır.

### 5. **CROSS JOIN**
CROSS JOIN iki cədvəl arasında birləşdirmə aparmadan bütün mümkün kombinasiya nəticələrini verir. Bu, kartezyen hasilatdır.

**Sintaksis:**
```sql
SELECT columns
FROM table1
CROSS JOIN table2;
```

**Məqsəd:** Hər bir cədvəldən olan sətirləri digər cədvəldəki bütün sətirlərlə birləşdirmək.

### 6. **SELF JOIN**
SELF JOIN bir cədvəli öz-özü ilə birləşdirmək üçün istifadə olunur. Cədvəldə olan məlumatları fərqli strukturlarla müqayisə etmək üçün effektivdir.

**Sintaksis:**
```sql
SELECT A.columns, B.columns
FROM table A, table B
WHERE A.column = B.column;
```

**Məqsəd:** Eyni cədvəldən olan məlumatları bir-birinə qarşı müqayisə etmək.

### 7. **NATURAL JOIN**
NATURAL JOIN iki cədvəli müvafiq sütunlar əsasında birləşdirir. Bu əməliyyat avtomatik olaraq uyğun adlara sahib sütunları tapır və onları birləşdirir.

**Sintaksis:**
```sql
SELECT columns
FROM table1
NATURAL JOIN table2;
```

**Məqsəd:** Eyni sütun adlarına malik olan cədvəlləri avtomatik olaraq birləşdirmək.

Bu JOIN növləri müxtəlif məlumat mənbələrini birləşdirərək istənilən nəticələri əldə etməyə imkan verir.

## UNION ALL, UNION, INTERSECT, MINUS

Oracle SQL-də **UNION**, **UNION ALL**, **INTERSECT**, və **MINUS** operatorları müxtəlif cədvəllərdən alınan nəticələri birləşdirmək və ya müqayisə etmək üçün istifadə olunur. Bu operatorlar aşağıdakı kimi işləyir:

### 1. **UNION**
- **İş prinsipi:** İki və ya daha çox sorğudan olan nəticələri birləşdirir, amma dublikat olan sətirləri aradan qaldırır.
- **Məqsəd:** Unikal sətirləri göstərmək.
- **Sintaksis:**
  ```sql
  SELECT column_list
  FROM table1
  UNION
  SELECT column_list
  FROM table2;
  ```

  **Misal:** Əgər iki cədvəldən olan eyni məlumatlar varsa, `UNION` onları bir dəfə qaytarır.

### 2. **UNION ALL**
- **İş prinsipi:** İki və ya daha çox sorğunun nəticələrini birləşdirir, lakin `UNION`-dan fərqli olaraq, dublikat sətirləri də saxlayır.
- **Məqsəd:** Dublikatları saxlayaraq bütün nəticələri göstərmək.
- **Sintaksis:**
  ```sql
  SELECT column_list
  FROM table1
  UNION ALL
  SELECT column_list
  FROM table2;
  ```

  **Misal:** Hər iki cədvəldə olan bütün məlumatları, hətta eyni olan sətirləri də göstərəcək.

### 3. **INTERSECT**
- **İş prinsipi:** İki sorğu arasında kəsişmə (yəni hər iki sorğuda olan) sətirləri qaytarır.
- **Məqsəd:** Hər iki sorğuda ortaq olan məlumatları göstərmək.
- **Sintaksis:**
  ```sql
  SELECT column_list
  FROM table1
  INTERSECT
  SELECT column_list
  FROM table2;
  ```

  **Misal:** Hər iki cədvəldə olan yalnız eyni sətirləri qaytaracaq.

### 4. **MINUS**
- **İş prinsipi:** İlk sorğuda olan, amma ikinci sorğuda olmayan sətirləri qaytarır.
- **Məqsəd:** İlk cədvəldə olub, ikinci cədvəldə olmayan məlumatları göstərmək.
- **Sintaksis:**
  ```sql
  SELECT column_list
  FROM table1
  MINUS
  SELECT column_list
  FROM table2;
  ```

  **Misal:** Birinci sorğuda olan, amma ikinci sorğuda olmayan sətirləri göstərəcək.

### Fərqlər:
- **UNION**: Dublikatları aradan qaldırır.
- **UNION ALL**: Bütün sətirləri qaytarır, dublikatlar da daxil olmaqla.
- **INTERSECT**: İki cədvəldə kəsişən sətirləri qaytarır.
- **MINUS**: Yalnız birinci cədvəldə olan, lakin ikinci cədvəldə olmayan sətirləri qaytarır.

Bu operatorlar verilənlər bazası sorğularında müxtəlif nəticələri birləşdirmək və ya fərqli nəticələri müqayisə etmək üçün effektiv üsullar təklif edir.

Oracle SQL-də **UNION**, **UNION ALL**, **INTERSECT**, və **MINUS** operatorlarının HR məlumatları üzərində istifadə edilməsinə dair nümunələri belə göstərə bilərik.

### 1. **UNION**  
Tutaq ki, `hr.employees` cədvəlindəki işçilərin adlarını və onların müvafiq departamentlərini, həmçinin digər bir cədvəldə (məsələn, `hr.departments`) qeydiyyatda olan bütün departamentləri birləşdirmək istəyirsiniz, amma dublikatları çıxartmaq lazımdır:

```sql
SELECT first_name, last_name
FROM hr.employees
UNION
SELECT manager_first_name, manager_last_name
FROM hr.departments;
```

Bu sorğu hər iki cədvəldən olan adları birləşdirir, amma təkrarlanan adlar yalnız bir dəfə qaytarılacaq.

### 2. **UNION ALL**  
Əgər eyni sorğunu təkrarlanan dəyərlərlə birlikdə göstərmək istəyirsinizsə, **UNION ALL** istifadə edirik:

```sql
SELECT first_name, last_name
FROM hr.employees
UNION ALL
SELECT manager_first_name, manager_last_name
FROM hr.departments;
```

Bu sorğu hər iki cədvəldəki sətirləri birləşdirir və təkrarlananları da çıxarır.

### 3. **INTERSECT**  
Tutaq ki, həm işçilər, həm də departamentlərdə olan menecerlərin adlarının ortaq olduğu sətirləri görmək istəyirsiniz:

```sql
SELECT first_name, last_name
FROM hr.employees
INTERSECT
SELECT manager_first_name, manager_last_name
FROM hr.departments;
```

Bu sorğu hər iki cədvəldə ortaq olan adları qaytaracaq.

### 4. **MINUS**  
Tutaq ki, `hr.employees` cədvəlində olan işçilərin adlarını götürmək istəyirsiniz, amma `hr.departments` cədvəlində olan menecerlərin adları ilə uyğun gələnləri istisna etmək istəyirsiniz:

```sql
SELECT first_name, last_name
FROM hr.employees
MINUS
SELECT manager_first_name, manager_last_name
FROM hr.departments;
```

Bu sorğu işçilərdən yalnız menecer olmayan adları qaytaracaq.

Bu nümunələrlə fərqli JOIN operatorlarının HR verilənlər bazası üzərində necə işlədiyini göstərmiş olduq.

## SUBQUERIES

**Subqueries** (alt sorğular) SQL-də sorğunun daxilində başqa bir sorğu işlətmək üçün istifadə edilir. Subqueries adətən əsas sorğuya əlavə məlumatlar gətirir və əsas sorğu ilə əlaqəli şəkildə işləyir. Aşağıda subquery-lərin növləri və istifadəsi izah edilir:

### Subqueries Növləri

1. **Single-Row Subquery** (Tək sətirli subquery)
   - Yalnız bir sətir və bir sütun qaytarır.
   - Adətən müqayisə əməliyyatları üçün istifadə edilir: `=`, `>`, `<`, və s.
   - **Misal:**
     ```sql
     SELECT first_name, last_name
     FROM hr.employees
     WHERE salary > (SELECT AVG(salary) FROM hr.employees);
     ```
     Bu sorğu işçilərin maaşını orta maaşdan yüksək olanları qaytarır.

2. **Multiple-Row Subquery** (Çox sətirli subquery)
   - Bir neçə sətir qaytarır.
   - Adətən `IN`, `ANY`, və `ALL` əməliyyatları ilə istifadə edilir.
   - **Misal:**
     ```sql
     SELECT first_name, last_name
     FROM hr.employees
     WHERE department_id IN (SELECT department_id FROM hr.departments WHERE location_id = 1700);
     ```
     Bu sorğu, 1700 nömrəli məkanda yerləşən departamentlərdə işləyən işçiləri qaytarır.

3. **Correlated Subquery** (Əlaqəli subquery)
   - Bu alt sorğu əsas sorğu ilə birbaşa bağlıdır və əsas sorğunun hər bir sətiri üçün ayrıca işlənir.
   - **Misal:**
     ```sql
     SELECT first_name, last_name
     FROM hr.employees e
     WHERE salary > (SELECT AVG(salary) FROM hr.employees WHERE department_id = e.department_id);
     ```
     Bu sorğu, işçinin departamentindəki orta maaşdan yüksək maaş alan işçiləri qaytarır.

4. **Nested Subqueries** (Daxili subquery)
   - Bir subquery başqa bir subquery-in daxilində olur.
   - **Misal:**
     ```sql
     SELECT first_name, last_name
     FROM hr.employees
     WHERE employee_id = (SELECT manager_id FROM hr.employees WHERE employee_id = (SELECT employee_id FROM hr.employees WHERE first_name = 'John'));
     ```
     Bu sorğu, John adlı işçinin menecerinin adını tapır.

### Subquery-lərin İstifadə Edildiyi Yerlər

1. **SELECT içərisində:**
   ```sql
   SELECT first_name, salary, (SELECT department_name FROM hr.departments WHERE department_id = e.department_id) AS department
   FROM hr.employees e;
   ```

2. **WHERE içərisində:**
   ```sql
   SELECT first_name, last_name
   FROM hr.employees
   WHERE department_id = (SELECT department_id FROM hr.departments WHERE department_name = 'IT');
   ```

3. **FROM içərisində:**
   ```sql
   SELECT e.first_name, e.last_name, sub.avg_salary
   FROM hr.employees e, (SELECT department_id, AVG(salary) AS avg_salary FROM hr.employees GROUP BY department_id) sub
   WHERE e.department_id = sub.department_id;
   ```

### Əsas Məqamlar:
- **Single-row subquery** yalnız bir sətir qaytarırsa, **multi-row subquery** bir neçə sətir qaytara bilər.
- **Correlated subquery** əsas sorğuya bağlı şəkildə hər dəfə ayrı-ayrı işlənir.
- Subquery-lər həm `SELECT`, həm də `FROM` və `WHERE` bloklarında istifadə edilə bilər.

Subquery-lər, məlumatların daha dərin və spesifik təhlilini aparmaq üçün güclü bir vasitədir.

## Inline Subqueries

Inline subqueries (və ya inline views) SQL-də müəyyən bir nəticə dəstini və ya ara nəticələri əldə etmək üçün istifadə edilən subqueries-lərdir. Bu subquery-lər əsas sorğunun `FROM` hissəsində yerləşir və adətən nəticə dəstini müvəqqəti cədvəl kimi təqdim edir. Bu metod, SQL kodunun təşkilini sadələşdirmək və oxunabilirliyi artırmaq üçün çox faydalıdır.

### Inline Subqueries İstifadəsi

#### 1. **Əsas Sorğu ilə Birlikdə Subquery İstifadəsi**

Bu yanaşma ilə subquery, əsas sorğunun `FROM` hissəsində işlədilir və müvəqqəti bir cədvəl kimi təqdim olunur.

**Misal:**
```sql
SELECT department_id, AVG(salary) AS avg_salary
FROM (
    SELECT department_id, salary
    FROM hr.employees
    WHERE hire_date >= DATE '2023-01-01'
) subquery
GROUP BY department_id;
```
Bu nümunədə, `subquery` alt sorğusu, 2023-cü ildən etibarən işə qəbul edilmiş işçilərin məlumatlarını əldə edir. Daha sonra, bu nəticə dəsti əsas sorğuda istifadə olunur.

#### 2. **Bir Subquery ilə Hesablanmış Dəyərlərin İstifadəsi**

Subquery-lər hesablanmış dəyərləri əsas sorğuda istifadə etmək üçün mükəmməl bir yoldur.

**Misal:**
```sql
SELECT e.first_name, e.last_name, sub.avg_salary
FROM hr.employees e
JOIN (
    SELECT department_id, AVG(salary) AS avg_salary
    FROM hr.employees
    GROUP BY department_id
) sub
ON e.department_id = sub.department_id;
```
Bu nümunədə, subquery `department_id` ilə `AVG(salary)` dəyərlərini hesablayır və `JOIN` əməliyyatı vasitəsilə əsas sorğuda istifadə olunur.

#### 3. **Rəqəmsal və Ya Daimalı Əlavə Hesablamalar**

Inline subqueries məlumatları daha spesifik və uyğun bir formatda əldə etmək üçün istifadə olunur.

**Misal:**
```sql
SELECT e.first_name, e.last_name, sub.department_name
FROM hr.employees e
JOIN (
    SELECT department_id, department_name
    FROM hr.departments
    WHERE location_id = 1700
) sub
ON e.department_id = sub.department_id;
```
Bu nümunədə, subquery `location_id` 1700 olan departamentləri əldə edir və bu nəticə əsas sorğuda istifadə olunur.

### Əsas Məqamlar

- **Performans:** Inline subqueries bəzən performans məsələlərinə səbəb ola bilər, çünki bu, müvəqqəti cədvəllər yaratmağa səbəb ola bilər. Optimal nəticələr üçün indekslərdən istifadə etmək və performans analizi aparmaq faydalıdır.
- **Oxunabilirlik:** Inline subqueries, SQL kodunun daha modular və oxunaqlı olmasını təmin edə bilər.

Əgər xüsusi bir vəziyyət və ya daha mürəkkəb nümunələr haqqında suallarınız varsa, mənə bildirin!

## COMMIT və ROLLBACK

Oracle SQL-də `COMMIT` və `ROLLBACK` əmrləri verilənlər bazası əməliyyatlarının idarə olunması üçün istifadə olunur:

- **`COMMIT`**: Bu əmrlə edilən dəyişiklikləri verilənlər bazasında qalıcı edir. Əməliyyatda həyata keçirilmiş bütün dəyişikliklər `COMMIT` əmri icra olunana qədər müvəqqətidir. `COMMIT` əmrini icra etdikdən sonra, bu dəyişikliklər digər istifadəçilər tərəfindən də görünür və geri qaytarıla bilməz.

  ```sql
  COMMIT;
  ```

- **`ROLLBACK`**: Bu əmrlə edilən dəyişiklikləri geri qaytarır. `ROLLBACK` əmri icra olunana qədər bütün dəyişikliklər geri qaytarılır və verilənlər bazası əvvəlki vəziyyətinə gətirilir. Bu, bir əməliyyatın səhv nəticələnməsi halında çox faydalıdır.

  ```sql
  ROLLBACK;
  ```

Ümumiyyətlə, `COMMIT` və `ROLLBACK` əmrləri transaksiyaların idarə olunmasında əhəmiyyətlidir, çünki onlar əməliyyatların uğurla tamamlanmasını və ya səhvlər baş verdikdə dəyişikliklərin geri qaytarılmasını təmin edir.

## Commit etsem sonra Rollback etsem geri qayidacaq?

Xeyr, `COMMIT` əmri icra etdikdən sonra `ROLLBACK` əmri ilə həmin əməliyyatı geri qaytarmaq mümkün deyil. `COMMIT` əmri ilə edilən dəyişikliklər verilənlər bazasında qalıcı olur və digər istifadəçilər tərəfindən də görünə bilər. `ROLLBACK` yalnız `COMMIT` əmri icra olunmadan əvvəlki dəyişiklikləri geri qaytarmağa imkan verir.

Yəni, əgər `COMMIT` əmri icra olunubsa, sonra `ROLLBACK` əmri icra etsəniz belə, `COMMIT` ilə edilən dəyişikliklər artıq geri qaytarıla bilməz. 

Bu, `ROLLBACK` əmrinə yalnız `COMMIT` əmri icra olunana qədər olan müvəqqəti dəyişikliklərə təsir etdiyini göstərir.

## Constrains in ORACL SQL

Oracle SQL-də **constraints** (məhdudiyyətlər) verilənlər bazasında məlumatların bütövlüyünü və düzgünlüyünü təmin edən qaydalardır. Məhdudiyyətlər sütunlar və ya cədvəllər səviyyəsində təyin edilə bilər və məlumatların düzgün daxil edilməsini məhdudlaşdırmaq üçün istifadə olunur.

Aşağıda Oracle SQL-də mövcud olan əsas **constraints** tipləri ilə onların izahı verilmişdir:

### 1. **NOT NULL Constraint**
- Bu məhdudiyyət sütuna boş (null) dəyərin daxil edilməsini qadağan edir.
- Yəni, bu sütunda hər zaman bir dəyər olmalıdır.

  ```sql
  CREATE TABLE employees (
      emp_id NUMBER PRIMARY KEY,
      emp_name VARCHAR2(50) NOT NULL
  );
  ```

### 2. **UNIQUE Constraint**
- Bu məhdudiyyət sütundakı dəyərlərin unikal olmasını təmin edir, yəni təkrar dəyərlər ola bilməz.
- Sütun səviyyəsində və ya bir neçə sütunu birlikdə yoxlamaq üçün cədvəl səviyyəsində təyin edilə bilər.

  ```sql
  CREATE TABLE employees (
      emp_id NUMBER PRIMARY KEY,
      emp_email VARCHAR2(100) UNIQUE
  );
  ```

### 3. **PRIMARY KEY Constraint**
- `PRIMARY KEY` sütundakı dəyərlərin həm unikal, həm də `NOT NULL` olmasını təmin edir.
- Bir cədvəldə yalnız bir `PRIMARY KEY` ola bilər.

  ```sql
  CREATE TABLE employees (
      emp_id NUMBER PRIMARY KEY,
      emp_name VARCHAR2(50) NOT NULL
  );
  ```

### 4. **FOREIGN KEY Constraint**
- Bu məhdudiyyət bir cədvəlin sütununu başqa bir cədvəldəki sütuna bağlayır (əlaqə yaradır).
- `FOREIGN KEY` dəyərləri `REFERENCES` göstərilən cədvəlin `PRIMARY KEY` və ya `UNIQUE` dəyərlərinə uyğun olmalıdır.

  ```sql
  CREATE TABLE orders (
      order_id NUMBER PRIMARY KEY,
      emp_id NUMBER,
      CONSTRAINT fk_emp FOREIGN KEY (emp_id) REFERENCES employees(emp_id)
  );
  ```

### 5. **CHECK Constraint**
- Bu məhdudiyyətlə müəyyən bir şərtə uyğun olmayan dəyərlərin sütuna daxil edilməsinin qarşısı alınır.
- Dəyərlərin müəyyən diapazonlarda və ya şərtlərə uyğun olmasını yoxlayır.

  ```sql
  CREATE TABLE employees (
      emp_id NUMBER PRIMARY KEY,
      emp_age NUMBER,
      CONSTRAINT check_age CHECK (emp_age >= 18)
  );
  ```

### 6. **DEFAULT Constraint**
- `DEFAULT` constraint müəyyən bir sütun üçün defolt dəyər təyin edir.
- Əgər istifadəçi həmin sütun üçün dəyər daxil etməzsə, defolt dəyər daxil edilir.

  ```sql
  CREATE TABLE employees (
      emp_id NUMBER PRIMARY KEY,
      emp_salary NUMBER DEFAULT 5000
  );
  ```

Bu **constraints**-lər verilənlər bazasında məlumatların etibarlığını təmin etmək üçün əsas vasitələrdən biridir.

## Delete, Drop, Truncate, CASCADE

Oracle SQL-də məlumatları silmək və ya məhdudlaşdırmaq üçün müxtəlif əmrlər mövcuddur. Aşağıda hər bir əmrin əsas məqsədi və istifadəsi izah edilmişdir:

---

### 1. **`DELETE` Əmri**
- **Təyinatı**: Cədvəldəki müəyyən bir və ya bir neçə sətiri silmək üçün istifadə olunur.
- **Xüsusiyyətlər**:
  - Şərt (`WHERE`) ilə yalnız müəyyən sətirləri silə bilərsiniz.
  - Əməliyyatdan sonra geri qaytarmaq üçün `ROLLBACK` istifadə edilə bilər.

**Sintaksis**:
```sql
DELETE FROM table_name
WHERE condition;
```

**Misal**:
```sql
DELETE FROM employees
WHERE department_id = 10;
```
Yalnız `department_id` 10 olan sətirləri silir.

---

### 2. **`TRUNCATE` Əmri**
- **Təyinatı**: Cədvəldəki bütün məlumatları sürətli şəkildə silmək üçün istifadə olunur.
- **Xüsusiyyətlər**:
  - `TRUNCATE` əmri cədvəldəki bütün sətirləri silir, amma struktur olduğu kimi qalır.
  - Bu əməliyyatdan sonra məlumatları geri qaytarmaq (`ROLLBACK`) mümkün deyil.
  - Daha sürətlidir və az mənbə tələb edir.

**Sintaksis**:
```sql
TRUNCATE TABLE table_name;
```

**Misal**:
```sql
TRUNCATE TABLE employees;
```
Bütün sətirləri silir, amma sütunlar və cədvəl strukturu qalır.

---

### 3. **`DROP` Əmri**
- **Təyinatı**: Cədvəlin və ya digər obyektlərin (məsələn, bir verilənlər bazasının, sütunun, indeksin və s.) tamamilə silinməsi üçün istifadə olunur.
- **Xüsusiyyətlər**:
  - `DROP` əməliyyatı obyektləri tamamilə silir.
  - Bərpa etmək mümkün deyil.

**Sintaksis**:
```sql
DROP TABLE table_name;
```

**Misal**:
```sql
DROP TABLE employees;
```
`employees` adlı cədvəli tamamilə silir.

---

### 4. **`ALTER TABLE` ilə Sütun Silmək**
- **Təyinatı**: Cədvəldəki müəyyən sütunu silmək üçün istifadə olunur.
- **Xüsusiyyətlər**:
  - Bu əməliyyat yalnız sütunu silir, digər məlumatlar qalır.

**Sintaksis**:
```sql
ALTER TABLE table_name DROP COLUMN column_name;
```

**Misal**:
```sql
ALTER TABLE employees DROP COLUMN salary;
```
`employees` cədvəlindən `salary` sütununu silir.

---

### 5. **`CASCADE` ilə Birlikdə Silmək**
- **Təyinatı**: Bəzi obyektlər (məsələn, xarici açarlarla əlaqəli cədvəllər) bir-birinə bağlıdırsa, silmə əməliyyatını ardıcıl həyata keçirmək üçün istifadə olunur.
- **Misal**:
```sql
DROP TABLE employees CASCADE CONSTRAINTS;
```
Bütün məhdudiyyətlərlə birlikdə `employees` cədvəlini silir.

---

### Yekun Fərqlər:
| Əmr       | Məqsəd                     | Silmə Növü                        | Rollback (Geri Qaytarma) |
|-----------|----------------------------|-----------------------------------|--------------------------|
| `DELETE`  | Seçilmiş sətirləri silir    | Seçimli (`WHERE` ilə)             | Mümkündür               |
| `TRUNCATE`| Bütün sətirləri silir       | Hamısını, struktur qalır          | Mümkün deyil            |
| `DROP`    | Cədvəli tamamilə silir      | Cədvəl və struktur                | Mümkün deyil            |
| `ALTER`   | Sütunu silir                | Seçimli (yalnız sütun)            | Mümkün deyil            |

Sorularınız varsa, ətraflı izah edə bilərəm! 😊

## Analytics functions

Analitika funksiyaları (Analytic Functions) SQL-də çox güclü alətlərdən biridir və məlumatların qruplar üzərində təhlilini asanlaşdırır. Bu funksiyalar toplu məlumatlar üzərində müəyyən hesablama aparmaqla birbaşa sətir səviyyəsində təhlil nəticələrini geri qaytarır. Analitika funksiyaları digər toplama funksiyalarından fərqli olaraq, sorğuda bir çox sətir üzərində hesablama apara bilir, lakin hər sətir üçün ayrıca nəticə qaytarır.

### Ən geniş istifadə olunan Analitika Funksiyaları:

1. **ROW_NUMBER()**:
   - **Təyinat**: Hər sətirə unikal bir sıra nömrəsi verir.
   - **Sintaksis**:
     ```sql
     ROW_NUMBER() OVER (PARTITION BY sütunlar ORDER BY sütunlar)
     ```
   - **Misal**:
     ```sql
     SELECT employee_id, salary, ROW_NUMBER() OVER (ORDER BY salary DESC) AS row_num
     FROM employees;
     ```
   - **İstifadə məqsədi**: Məsələn, hər bir qrupda sətirləri nömrələmək və ya ilk 5 ən yüksək maaş alan işçiləri seçmək üçün istifadə olunur.

2. **RANK()**:
   - **Təyinat**: Hər sətirə sıralama verir. Eyni dəyəri olan sətirlər eyni sıranı alır, lakin sıralamada boşluq yaranır.
   - **Sintaksis**:
     ```sql
     RANK() OVER (PARTITION BY sütunlar ORDER BY sütunlar)
     ```
   - **Misal**:
     ```sql
     SELECT employee_id, salary, RANK() OVER (ORDER BY salary DESC) AS rank
     FROM employees;
     ```
   - **İstifadə məqsədi**: Sıralama nömrəsini hesablamaq üçün istifadə olunur.

3. **DENSE_RANK()**:
   - **Təyinat**: Hər sətirə sıralama nömrəsi verir, lakin eyni dəyərli sətirlər eyni sırada olur və sıralamada boşluq yaranmır.
   - **Sintaksis**:
     ```sql
     DENSE_RANK() OVER (PARTITION BY sütunlar ORDER BY sütunlar)
     ```
   - **Misal**:
     ```sql
     SELECT employee_id, salary, DENSE_RANK() OVER (ORDER BY salary DESC) AS dense_rank
     FROM employees;
     ```
   - **İstifadə məqsədi**: RANK funksiyasına bənzərdir, lakin sıralamada boşluqlar olmadan sıralama aparılır.

4. **NTILE(n)**:
   - **Təyinat**: Məlumatları `n` sayda qruplara bölür və hər bir sətirə bu qrupların nömrəsini verir.
   - **Sintaksis**:
     ```sql
     NTILE(n) OVER (ORDER BY sütunlar)
     ```
   - **Misal**:
     ```sql
     SELECT employee_id, salary, NTILE(4) OVER (ORDER BY salary DESC) AS quartile
     FROM employees;
     ```
   - **İstifadə məqsədi**: Məsələn, işçiləri dörd (quartile) bərabər qrupa bölmək üçün istifadə edilə bilər.

5. **LAG() və LEAD()**:
   - **Təyinat**:
     - `LAG()`: Əvvəlki sətirdən məlumatları gətirir.
     - `LEAD()`: Sonrakı sətirdən məlumatları gətirir.
   - **Sintaksis**:
     ```sql
     LAG(sütun, n, default_value) OVER (ORDER BY sütun)
     LEAD(sütun, n, default_value) OVER (ORDER BY sütun)
     ```
   - **Misal**:
     ```sql
     SELECT employee_id, salary, LAG(salary, 1) OVER (ORDER BY salary DESC) AS prev_salary
     FROM employees;
     ```
   - **İstifadə məqsədi**: Məlumatlar arasında keçidlər izlənir. Məsələn, işçinin əvvəlki və ya növbəti maaşı ilə müqayisə etmək.

6. **FIRST_VALUE() və LAST_VALUE()**:
   - **Təyinat**:
     - `FIRST_VALUE()`: Ən birinci sətirdəki dəyəri gətirir.
     - `LAST_VALUE()`: Sonuncu sətirdəki dəyəri gətirir.
   - **Sintaksis**:
     ```sql
     FIRST_VALUE(sütun) OVER (ORDER BY sütun)
     LAST_VALUE(sütun) OVER (ORDER BY sütun)
     ```
   - **Misal**:
     ```sql
     SELECT employee_id, salary, FIRST_VALUE(salary) OVER (ORDER BY salary DESC) AS top_salary
     FROM employees;
     ```

### Analitik funksiyaların istifadəsi:

Analitika funksiyaları çox vaxt **OVER** klauzusu ilə birləşdirilərək işləyir. **OVER** klauzusu bu funksiyaların hansı qruplarda (PARTITION BY) və hansı qaydada (ORDER BY) işləməsini tənzimləyir. Bu funksiyalar toplu məlumatların analizində olduqca faydalıdır və həm də data transformation və reporting işlərində geniş istifadə olunur.

## Primary Key Foreign Key

SQL-də **Primary Key** və **Foreign Key** verilənlər bazasında cədvəllər arasındakı əlaqələri idarə etmək üçün istifadə olunan iki mühüm anlayışdır.

### 1. Primary Key (Birincil Açar)
- **Təyin Edici Xüsusiyyət**: Hər cədvəldə unikal bir dəyəri təmsil edir. Bu, cədvəldəki hər bir sətiri fərqləndirmək üçün istifadə olunur.
- **Unikallıq**: Cədvəldəki dəyər təkrarlanmamalıdır. Yəni, bir cədvəldə birincil açar sütunundakı hər bir dəyər unikaldır.
- **Boş (NULL) olmaması**: Birincil açar sütunundakı dəyərlər boş ola bilməz.

#### Nümunə:
```sql
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(100)
);
```
Bu nümunədə, `employee_id` sütunu `employees` cədvəlində birincil açar olaraq təyin edilmişdir.

---

### 2. Foreign Key (Xarici Açar)
- **Əlaqə Təyin Edir**: Bir cədvəldəki sütun, başqa bir cədvəldəki birincil açara istinad edir. Bu, iki cədvəl arasında əlaqə yaradır.
- **Unikallıq Tələbi**: Xarici açar sütunundakı dəyərlər birincil açar olan cədvəldəki dəyərlərlə uyğun gəlməlidir. Bu, məlumatların bütövlüyünü qorumaq üçün vacibdir.
- **Boş (NULL) ola bilər**: Xarici açar sütunu boş ola bilər, əgər əlaqəli sətir mövcud deyilsə.

#### Nümunə:
```sql
CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(100)
);

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(100),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);
```
Bu nümunədə, `employees` cədvəlində `department_id` sütunu xarici açar olaraq təyin edilmişdir, bu da onu `departments` cədvəlindəki `department_id` sütununa bağlayır.

---

### Xülasə
- **Primary Key**: Cədvəldəki hər bir sətiri unikal olaraq tanıyır və boş ola bilməz.
- **Foreign Key**: İki cədvəl arasında əlaqə yaradır və birincil açara istinad edir. Boş ola bilər, amma varsa, uyğun bir dəyərlə əlaqələndirilməlidir. 

Bu anlayışlar, verilənlər bazasında məlumatların strukturunu və bütövlüyünü təmin etmək üçün kritik rol oynayır.